/*-----------------Fonts-----------------*/


/*----WorkSans-Light----*/
@font-face {
    font-family: 'WorkSans Light';
    src: url('../fonts/WorkSans-Light/worksans-light-webfont.eot');
    src: url('../fonts/WorkSans-Light/worksans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WorkSans-Light/worksans-light-webfont.woff') format('woff'),
         url('../fonts/WorkSans-Light/worksans-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/*----WorkSans-Regular----*/
@font-face {
    font-family: 'WorkSans Regular';
    src: url('../fonts/WorkSans-Regular/worksans-regular-webfont.eot');
    src: url('../fonts/WorkSans-Regular/worksans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WorkSans-Regular/worksans-regular-webfont.woff') format('woff'),
         url('../fonts/WorkSans-Regular/worksans-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/*----WorkSans-Bold----*/
@font-face {
    font-family: 'WorkSans Bold';
    src: url('../fonts/WorkSans-Bold/worksans-bold-webfont.eot');
    src: url('../fonts/WorkSans-Bold/worksans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WorkSans-Bold/worksans-bold-webfont.woff') format('woff'),
         url('../fonts/WorkSans-Bold/worksans-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*----icomoon----*/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon/icomoon.woff') format('woff'),
         url('../fonts/icomoon/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}